DATABASE_URL=postgresql://lima:lima_s3cure_2026@hopper.proxy.rlwy.net:30016/lima_db
JWT_SECRET=1ba88938a54f70dbec28e846e49109080c50c76a989aab4f72f4e73505f5d5fd
DEBUG=false
CORS_ORIGINS=https://limaimpro.duckdns.org,https://improv-cabaret-planner.lovable.app
FRONTEND_URL=https://limaimpro.duckdns.org
SMTP_HOST=
SMTP_PORT=587
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM=noreply@lima.asso.fr
APP_ENV=production
